<div class="aboutWrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="aboutInner">
                <span></span>
                <h1>ABOUT US</h1>
                <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati doloremque id
                     explicabo veniam nam ducimus quam quasi? Omnis consectetur cupiditate doloribus eveniet autem a. 
                    Reiciendis expedita harum ratione, ipsa facere voluptates eveniet.</P>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, nobis necessitatibus quos praesentium,
                    distinctio repellendus doloremque sint recusandae aspernatur natus enim ullam blanditiis porro, ipsum iusto cupiditate? Sit, sed facere explicabo voluptatum dignissimos, 
                    incidunt qui adipisci consequuntur cumque quod iure. Aspernatur natus enim ullam blanditiis porro, ipsum iusto cupiditate? Sit, sed facere explicabo voluptatum dignissimos, 
                    incidunt qui adipisci consequuntur cumque quod iure.</p>
                    <button class="strockButton">READ MORE</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="userImage">
                <img src="assets/img/aboutus.jpg" alt="">
            </div>
        </div>
    </div>

</div>
