*{
    margin: 0px;
}

.merchandiseWrapper {
    text-align: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
}

.merchandiseSection {
    padding: 0px 20px;
}

.merchandiseInner {
    text-align: center;
    padding: 0px 20px 0px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.merchandiseInner span {
    background-color: #faa71b;
    width: 50px;
    height: 4px;
    display: block;
    border-radius: 1px;
    max-width: 50px;
    margin: 0 auto 25px;
}

.merchandiseInner h1 {
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.merchandiseInner p {
    color: #828282;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}

.merchandiseInner {
    padding: 20px;
}
.merchandiseImage img {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    margin-bottom: 10px;
}

.merchandiseImage h4 {
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
}

.merchandiseImage strong {
    color: #faa71b;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 20px;
}

/* Responsive CSS */
@media (min-width: 575px) and (max-width: 766px) {
    .row {
        display: grid;
        gap: 15px;
    }
}

@media (min-width: 320px) and (max-width: 574px) {
    .row {
        display: grid;
        gap: 15px;
    }
    .galleryImage img {
        width: 100%;
    }
}