<div class="sliderImage">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="sliderContent">
                <img src="assets/img/img-7.jpg" alt="">
                <div class="bgColor">
                    <div class="innerContent">
                        <h3>CIRCUIT TRAINING</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="sliderContent">
                <img src="assets/img/img-8.jpg" alt="">
                <div class="bgColor">
                    <div class="innerContent">
                        <h3>BODY CONDITIONING</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="sliderContent">
                <img src="assets/img/img-9.jpg" alt="">
                <div class="bgColor">
                    <div class="innerContent">
                        <h3>GROUP EXERCIZE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
