*{
    margin: 0px;
}

.bannerWrapper{
    position: relative;
}

.bannerWrapper img {
    width: 100%;
}

.bannerContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    display: grid;
    gap: 10px;
}

.bannerContent h1 {
    color: #fff;
    font-size: 55px;

}

.bannerContent strong {
    color: #faa71b;
}

.bannerContent p {
    color: #fff;
    font-size: 13px;
}

/* Responsive CSS */
@media (min-width: 575px) and (max-width: 766px) {
    .bannerContent h1 {
        font-size: 36px !important;
        margin-bottom: 0px !important;
    }
    .bannerContent p{
        font-size: 14px;
    }
}


@media (min-width: 320px) and (max-width: 574px)  {
    .bannerContent {
        gap: 0px;
    }
    .bannerContent h1 {
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }
    .bannerContent p{
        font-size: 10px;
    }
  }